################################################################################
# Il file gitignore è stato creato automaticamente da Microsoft(R) Visual Studio.
################################################################################

/.vs/slnx.sqlite
/.vs/progettoeqcalore.slnx/v18/Browse.VC.db
/.vs/progettoeqcalore.slnx/v18/Browse.VC.db-shm
/.vs/progettoeqcalore.slnx/v18/Browse.VC.db-wal
/.vs/progettoeqcalore.slnx/v18/Browse.VC.opendb
/.vs/ProjectSettings.json
/.vs/VSWorkspaceState.json
/.vs/progettoeqcalore.slnx/v18/ipch/AutoPCH/823a96dfe5b5d8fe/CODICE..ipch
/README.md
/.gitignore
/.vs/progettoeqcalore.slnx/FileContentIndex/9d871e5a-c8ef-4a84-baeb-793ee5927e74.vsidx
/.vs/progettoeqcalore.slnx/FileContentIndex/a7444688-71b5-4279-a422-59bac5b28f41.vsidx
/.vs/progettoeqcalore.slnx/v18/DocumentLayout.json
/.vs/progettoeqcalore.slnx/v18/DocumentLayout.backup.json
*.vsidx
/.vs/progettoeqcalore.slnx/v18/.wsuo
/.gitignore
