################################################################################
# Il file gitignore è stato creato automaticamente da Microsoft(R) Visual Studio.
################################################################################

/.vs/slnx.sqlite
/.vs/progettoeqcalore.slnx/v18/Browse.VC.db
/.vs/progettoeqcalore.slnx/v18/Browse.VC.db-shm
/.vs/progettoeqcalore.slnx/v18/Browse.VC.db-wal
/.vs/progettoeqcalore.slnx/v18/Browse.VC.opendb
